html {
	padding: 0;
	margin: 0;
}

body {
	background-color: #EEE;
	background-image: url('images/bg-body.png');
	background-position: top center;
	background-repeat: repeat;
	color: #444;
	/*font-family: "Lucida Sans","Lucida Grande","Lucida Sans Unicode",sans-serif;*/
	font-family: Century Gothic, Arial, Helvetica, sans-serif;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

img {
	border: none;
}

a {
	color: #111;
	text-decoration: none;
}

a:hover {
	color: #000;
	transition: all 0.3s ease-out 0s;
	text-decoration: underline;
}

h1, h2, h3, h1 a, h2 a, h3 a {
	color: #007b98;
	font-size: 22px;
	margin: 2px 0 5px 0;
}

div.clearfix {
	display: block;
    clear: both;
}

header {
	background: rgb(0,183,234);
	background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,158,195,1)));
	background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
	padding: 20px;
	margin: 0 0 20px 0;
}

#header-in {
	width: 60%;
	margin: 0 auto;
}

header .user {
	float: right;
	text-align: center;
}

header .user .spanadmin {
	font-size: 11px;
}

header .nav-rig {
	float: right;
}


#all {
	width: 60%;
	margin: 0 auto;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}


nav {
	float: left;
	width: 20%;
	background-color: #F5F5F5;
	border: 1px solid #aaa;
}

#nav-in {
	padding: 20px;
}

nav .nav-rig {
}

#header-in .user {
	width: 280px;
	text-align: center;
	margin-bottom: 10px;
}

.nav-rig #nav-panel, .nav-rig #nav-log {
	padding: 5px;
	width: 120px;
	text-align: center;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: block;
	float: left;
	background: rgb(226,226,226);
	background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(203,203,203,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(100%,rgba(203,203,203,1)));
	background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(203,203,203,1) 100%);
	background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(203,203,203,1) 100%);
	background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(203,203,203,1) 100%);
	background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(203,203,203,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#cbcbcb',GradientType=0 );
	-webkit-box-shadow: 0 0 5px 0 rgba(000,000,000,0.4);
	box-shadow: 0 0 5px 0 rgba(000,000,000,0.4);
}

.nav-rig #nav-log {
	margin-left: 20px;
}

.nav-rig #nav-panel:hover, .nav-rig #nav-log:hover {
	text-decoration: none;
	background: rgb(203,203,203);
	background: -moz-linear-gradient(top,  rgba(203,203,203,1) 0%, rgba(226,226,226,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(203,203,203,1)), color-stop(100%,rgba(226,226,226,1)));
	background: -webkit-linear-gradient(top,  rgba(203,203,203,1) 0%,rgba(226,226,226,1) 100%);
	background: -o-linear-gradient(top,  rgba(203,203,203,1) 0%,rgba(226,226,226,1) 100%);
	background: -ms-linear-gradient(top,  rgba(203,203,203,1) 0%,rgba(226,226,226,1) 100%);
	background: linear-gradient(to bottom,  rgba(203,203,203,1) 0%,rgba(226,226,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#e2e2e2',GradientType=0 );
	-webkit-box-shadow: 0 0 4px 0 rgba(000,000,000,0.25);
	box-shadow: 0 0 4px 0 rgba(000,000,000,0.25);
}

nav ul {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}

nav ul li {
	list-style: none;
	display: block;
	margin: 10px 0 10px;
	padding: 8px 10px
}

nav ul a:hover {
	text-decoration: none;
}

nav ul li:hover {
	text-decoration: none;
	background: rgb(0,167,209);
	background: -moz-linear-gradient(top,  rgba(0,167,209,1) 0%, rgba(0,162,201,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,167,209,1)), color-stop(100%,rgba(0,162,201,1)));
	background: -webkit-linear-gradient(top,  rgba(0,167,209,1) 0%,rgba(0,162,201,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,167,209,1) 0%,rgba(0,162,201,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,167,209,1) 0%,rgba(0,162,201,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,167,209,1) 0%,rgba(0,162,201,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a7d1', endColorstr='#00a2c9',GradientType=0 );
}

nav ul a#nav-glowna li, nav ul a#nav-rezer li, nav ul a#nav-onas li {
	border-bottom: 1px solid #bbb;
}

nav ul a#nav-admin li {
	border-top: 1px solid #bbb;
}

nav ul a#nav-admin li:hover {
	border-top: 1px solid #fff;
}

nav ul a#nav-glowna li:hover, nav ul a#nav-rezer li:hover, nav ul a#nav-onas li:hover {
	border-bottom: 1px solid #fff;
}

nav ul a#nav-glowna li {
	margin: 0 0 10px 0;
}

nav ul a#nav-kontakt li {
	margin: 10px 0 0 0;
}

nav ul a#nav-admin li {
	margin: 0 0 0 0;
	padding-top: 18px;
}

#content {
	background-color: #F5F5F5;
	border: 1px solid #aaa;
	float: right;
	width: 77%
}

#content-in {
	padding: 20px;
}




.aback {
	border: 1px solid #BBB;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 4px 0 rgba(000,000,000,0.2);
	box-shadow: 0 0 4px 0 rgba(000,000,000,0.2);
	padding: 3px 8px;
	font-size: 14px;
}

.aback:hover {
	background-color: #E5E5E5;
	text-decoration: none;
}

.divh2 {
	font-size: 22px;
	font-weight: bold;
	color: #007b98;
	margin-bottom: 8px;
    padding: 2px 8px;
	background-image: url('images/bg-divh2.png');
	background-position: left bottom;
	background-repeat: no-repeat;
}

input.InputSend {
	padding: 5px 15px;
	font-weight: bold;
	color: #222;
	-webkit-box-shadow: 0 0 4px 0 rgba(000,000,000,0.3);
	box-shadow: 0 0 4px 0 rgba(000,000,000,0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: none;
	margin: 0 15px;
	background: rgb(0,183,234);
	background: -moz-linear-gradient(top,  rgba(0,183,234,1) 0%, rgba(0,151,211,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,151,211,1)));
	background: -webkit-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,151,211,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,151,211,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,183,234,1) 0%,rgba(0,151,211,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,183,234,1) 0%,rgba(0,151,211,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#0097d3',GradientType=0 );
}

input.InputSend:hover {
	cursor: pointer;
	color: #EEE;
	-webkit-box-shadow: 0 0 3px 0 rgba(000,000,000,0.2);
	box-shadow: 0 0 3px 0 rgba(000,000,000,0.2);
	background: rgb(0,168,219);
	background: -moz-linear-gradient(top,  rgba(0,168,219,1) 0%, rgba(0,135,198,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,168,219,1)), color-stop(100%,rgba(0,135,198,1)));
	background: -webkit-linear-gradient(top,  rgba(0,168,219,1) 0%,rgba(0,135,198,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,168,219,1) 0%,rgba(0,135,198,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,168,219,1) 0%,rgba(0,135,198,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,168,219,1) 0%,rgba(0,135,198,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a8db', endColorstr='#0087c6',GradientType=0 );
}




#LoginForm .LoginFormLab {
	width: 60px;
	float: left;
	margin-bottom: 10px;
	padding-top: 4px;
	/*display: block;*/
}

#LoginForm .LoginFormInpu {
	margin-bottom: 10px;
	display: block;
	padding: 5px 7px;
	border: 1px solid #AAA;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #555;
}

#LoginForm input.LoginInp {
	padding: 12px 25px;
	font-size: 15px;
	font-weight: bold;
	color: #EEE;
	-webkit-box-shadow: 0 0 4px 0 rgba(000,000,000,0.3);
	box-shadow: 0 0 4px 0 rgba(000,000,000,0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: none;
	margin: 0 0 0 80px;
	background: rgb(0,182,233);
	background: -moz-linear-gradient(top,  rgba(0,182,233,1) 0%, rgba(16,161,201,1) 50%, rgba(38,142,168,1) 51%, rgba(0,159,197,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,182,233,1)), color-stop(50%,rgba(16,161,201,1)), color-stop(51%,rgba(38,142,168,1)), color-stop(100%,rgba(0,159,197,1)));
	background: -webkit-linear-gradient(top,  rgba(0,182,233,1) 0%,rgba(16,161,201,1) 50%,rgba(38,142,168,1) 51%,rgba(0,159,197,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,182,233,1) 0%,rgba(16,161,201,1) 50%,rgba(38,142,168,1) 51%,rgba(0,159,197,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,182,233,1) 0%,rgba(16,161,201,1) 50%,rgba(38,142,168,1) 51%,rgba(0,159,197,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,182,233,1) 0%,rgba(16,161,201,1) 50%,rgba(38,142,168,1) 51%,rgba(0,159,197,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b6e9', endColorstr='#009fc5',GradientType=0 );
}

#LoginForm input.LoginInp:hover {
	cursor: pointer;
	-webkit-box-shadow: 0 0 3px 0 rgba(000,000,000,0.2);
	box-shadow: 0 0 3px 0 rgba(000,000,000,0.2);
	background: rgb(0,162,211);
	background: -moz-linear-gradient(top,  rgba(0,162,211,1) 0%, rgba(15,150,191,1) 50%, rgba(19,136,165,1) 51%, rgba(0,143,183,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,162,211,1)), color-stop(50%,rgba(15,150,191,1)), color-stop(51%,rgba(19,136,165,1)), color-stop(100%,rgba(0,143,183,1)));
	background: -webkit-linear-gradient(top,  rgba(0,162,211,1) 0%,rgba(15,150,191,1) 50%,rgba(19,136,165,1) 51%,rgba(0,143,183,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,162,211,1) 0%,rgba(15,150,191,1) 50%,rgba(19,136,165,1) 51%,rgba(0,143,183,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,162,211,1) 0%,rgba(15,150,191,1) 50%,rgba(19,136,165,1) 51%,rgba(0,143,183,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,162,211,1) 0%,rgba(15,150,191,1) 50%,rgba(19,136,165,1) 51%,rgba(0,143,183,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2d3', endColorstr='#008fb7',GradientType=0 );
}




.admUDiv {
	display: block;
	width: 300px;
	font-size: 18px;
	color: #007b98;
	font-weight: bold;
	padding: 6px 8px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 0 4px 0 rgba(000,000,000,0.2);
	box-shadow: 0 0 4px 0 rgba(000,000,000,0.2);
	border: 1px solid #AAA;
	background: #f2f5f6;
	background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc));
	background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
	background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
	background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
	background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
}

.admUDiv:hover {
	color: #005164;
	text-decoration: none;
	-webkit-box-shadow: 0 0 2px 0 rgba(000,000,000,0.1);
	box-shadow: 0 0 2px 0 rgba(000,000,000,0.1);
	background: #f2f5f6;
	background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 13%, #abcfdb 79%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(13%,#e3eaed), color-stop(79%,#abcfdb));
	background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 13%,#abcfdb 79%);
	background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 13%,#abcfdb 79%);
	background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 13%,#abcfdb 79%);
	background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 13%,#abcfdb 79%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#abcfdb',GradientType=0 );
}



#UserCreate label {
	width: 150px;
	display: block;
}

#UserCreate input.UsCrIn {
	margin-left: 40px;
	width: 210px;
	padding: 6px 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #555;
	border: 1px solid #999;
	margin-bottom: 10px;
}

#UserCreate select {
	margin-left: 40px;
	width: 210px;
	padding: 6px 10px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	color: #555;
	border: 1px solid #999;
	margin-bottom: 10px;
}

#UserCreate .InputSend {
	margin-top: 10px;
	padding: 12px 38px;
	margin-left: 40px;
}

#AdmUsrList, #AdmKursList, #AdmSrTrList {
	width: 90%;
	height: 400px;
	border: 1px solid #AAA;
	background-color: #e7e7e7;
	overflow: auto;
}




#ModSTCreate label {
	width: 150px;
	display: block;
}

#ModSTCreate input.UsCrIn {
	margin-left: 40px;
	width: 210px;
	padding: 6px 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #555;
	border: 1px solid #999;
	margin-bottom: 10px;
}


#STCreate label {
	width: 150px;
	display: block;
}

#STCreate select {
	margin-left: 40px;
	width: 300px;
	padding: 6px 10px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	color: #555;
	border: 1px solid #999;
	margin-bottom: 10px;
}

#STCreate select.blokas {
	margin-left: 40px;
	width: 70px;
	padding: 6px 10px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	color: #555;
	border: 1px solid #999;
	margin-bottom: 10px;
}

#ListST {
	font-size: 14px;
	border: 0px solid #444;
	width: 100%;
}

#ListST th {
	background-color: #bebebe;
	border-bottom: 1px solid #444;
}

#ListST td {
	border-bottom: 1px solid #444;
}

#ListST tr.row1 {
	background-color: #dddddd;
}

#ListST tr.red {
	background-color: #ffc5c5;
}


#KursCreate label {
	width: 150px;
	display: block;
}

#KursCreate input.UsCrIn {
	margin-left: 40px;
	width: 210px;
	padding: 6px 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #555;
	border: 1px solid #999;
	margin-bottom: 10px;
}

#KursCreate select {
	margin-left: 40px;
	width: 360px;
	padding: 6px 10px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	color: #555;
	border: 1px solid #999;
	margin-bottom: 10px;
}

#KursCreate select.odwo {
	width: 80px;
}

#KursCreate select.kumiast {
	width: 140px;
}

#KursCreate .InputSend {
	margin-top: 10px;
	padding: 12px 38px;
	margin-left: 40px;
}



#RezerCreate label {
	width: 150px;
	display: block;
}

#RezerCreate input.UsCrIn {
	margin-left: 40px;
	width: 210px;
	padding: 6px 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #555;
	border: 1px solid #999;
	margin-bottom: 10px;
}

#RezerCreate select {
	margin-left: 40px;
	width: 360px;
	padding: 6px 10px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	color: #555;
	border: 1px solid #999;
	margin-bottom: 10px;
}

#RezerCreate select.odwo {
	width: 80px;
}

#RezerCreate select.kumiast {
	width: 140px;
}

#RezerCreate .InputSend {
	margin-top: 10px;
	padding: 12px 38px;
	margin-left: 40px;
}











footer {
	background: rgb(0,158,195);
	background: -moz-linear-gradient(top,  rgba(0,158,195,1) 0%, rgba(0,183,234,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,158,195,1)), color-stop(100%,rgba(0,183,234,1)));
	background: -webkit-linear-gradient(top,  rgba(0,158,195,1) 0%,rgba(0,183,234,1) 100%);
	background: -o-linear-gradient(top,  rgba(0,158,195,1) 0%,rgba(0,183,234,1) 100%);
	background: -ms-linear-gradient(top,  rgba(0,158,195,1) 0%,rgba(0,183,234,1) 100%);
	background: linear-gradient(to bottom,  rgba(0,158,195,1) 0%,rgba(0,183,234,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009ec3', endColorstr='#00b7ea',GradientType=0 );
	padding: 20px;
	margin: 20px 0 0 0;
}

#footer-in {
	width: 60%;
	margin: 0 auto;
}

#footer-in .foot-left {
	float: left;
	margin-left: 70px;
	font-size: 13px;
}

#footer-in .foot-left a {
	margin: 0 15px;
}

#footer-in .foot-right {
	float: right;
	font-size: 12px;
	color: #555;
}

#footer-in .foot-right a {
	color: #555;
}